@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --primary: #ff69b4;
    --primary-dark: #cc4d94;
    --sombra-primary: #ffb6e0; /*#ffb6c1;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Allura', cursive, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #e7e6e6;
    max-width: 100vw;
    max-height: 100vh;
}

/* Elementos semánticos */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #555;
}

.contenedor {
    /* position: absolute;
    top: 100px;
    left: 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    user-select: none;
}


.mensaje {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    animation: flotar 2s ease-in-out infinite,
               brillo 1.5s infinite;
}

.mensaje h1 span#flor {
    display: inline-block;
    transform-origin: 48% 40%;
    animation: girar 5s linear infinite;
}

span#aparecer {
    display: inline-block;
    font-weight: bold;
    color: var(--primary-dark);

    animation: aparecerTexto 2s ease-in-out forwards;
}


/* Animación Texto */
@keyframes flotar {
    from, to {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -8px);
    }
}

@keyframes brillo {
  from, to {
    text-shadow: 0 0 3px var(--sombra-primary), 0 0 6px var(--primary-dark), 0 0 9px var(--primary-dark);
  }
  50% {
    text-shadow: 0 0 6px var(--sombra-primary), 0 0 12px var(--primary-dark), 0 0 18px var(--sombra-primary);
  }
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes aparecerTexto {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}