@import url('normalizacion.css');
@import url('animaciones.css');

.mensaje {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    animation: flotar 2s ease-in-out infinite,
               brillo 1.5s infinite;
}

.mensaje h1 span#flor {
    display: inline-block;
    transform-origin: 48% 40%;
    animation: girar 5s linear infinite;
}

span#aparecer {
    display: inline-block;
    font-weight: bold;
    color: var(--primary-dark);

    animation: aparecerTexto 2s ease-in-out forwards;
}

