@import url('normalizacion.css');

.mensaje {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    animation: flotar 2s ease-in-out infinite,
               brillo 1.5s infinite;
}

.mensaje h1 span#flor {
    display: inline-block;
    transform-origin: 48% 40%;
    animation: girar 5s linear infinite;
}

span#aparecer {
    display: inline-block;
    font-weight: bold;
    color: var(--primary-dark);

    animation: aparecerTexto 2s ease-in-out forwards;
}


/* Animación Texto */
@keyframes flotar {
    from, to {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -8px);
    }
}

@keyframes brillo {
  from, to {
    text-shadow: 0 0 3px var(--sombra-primary), 0 0 6px var(--primary-dark), 0 0 9px var(--primary-dark);
  }
  50% {
    text-shadow: 0 0 6px var(--sombra-primary), 0 0 12px var(--primary-dark), 0 0 18px var(--sombra-primary);
  }
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes aparecerTexto {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}