@import url('../normalizacion.css');
@import url('../animaciones.css');

.pantallaini, .pantallajuego {
    position:absolute;
    top:0;
    background-color: rgba(10, 10, 10, 0.894);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}
.pantallaini{
    z-index: 10;
}

.titulo {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 20px;
    text-decoration: dotted underline;
    animation: inflar 4s linear infinite;
}

.instrucciones {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--textcolor);
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 40px;
    width: 60%;
}

.instrucciones span {
    color: var(--sombra-primary);
    font-weight: bold;
}

.instrucciones strong {
    font-weight: bold;
    font-size: 0.9rem;
    color: #aaa;
}

.botoninicio {
    position: relative;
    top: 10%;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: var(--primary-dark);
    animation: inflar 3s linear infinite,
               cambiocolor 4s linear infinite;
}

.ocultarinicio{
    display: none;
    pointer-events: none;
}

.pantallajuego{
    z-index: 5;
}

.tiempo { 
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    color: var(--textcolor); 
    border: #aaa 2px dotted; 
    border-radius: 50%; 
} 

.tiempo span { 
    font-size: 2.5rem; 
    font-weight: bold;
    line-height: 1; 
}

.globo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    animation: flotar 3s ease-in-out infinite;
}

.cabezaglobo {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, var(--highlight), var(--secondary));
    border-radius: 50% 50% 45% 45%; /* forma ovalada */ 
    position: relative; 
    box-shadow: inset -10px -20px 30px var(--sombra-primary), 
        inset 5px 5px 15px var(--highlight), 
        0 10px 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    transition: all 0.2s ease;
}

.nudoglobo {
    width: 12px;
    height: 10px;
    background: radial-gradient(circle at 30% 30%, var(--primary), var(--secondary));
    box-shadow: inset -10px -20px 30px var(--sombra-primary), inset 5px 5px 15px var(--highlight), 0 10px 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.cintaglobo {
    width: 2px;
    height: 40px;
    background: var(--textcolor);
    margin: 0 auto;
}

#globo.explocion {
    pointer-events: none;
    animation: explotar 0.5s ease-in-out forwards;
    z-index: 49;
}

.nudoglobo.caida { 
    animation: caerNudo 0.6s ease-out forwards; 
} 

.cintaglobo.caida { 
    animation: caerCinta 0.7s ease-out forwards; 
}

canvas{
    pointer-events: none;
    z-index: 50;
    position: absolute; 
    top: 0;
    left: 0;
    display: block;
}

#mensaje {
    font-size: 1.5em;
    color: var(--primary-dark);
    display: none;
    z-index: 100;
}
