@import url('../normalizacion.css');

.pantallaini, .pantallajuego {
    position:absolute;
    top:0;
    background-color: rgba(10, 10, 10, 0.894);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}
.pantallaini{
    z-index: 10;
}

.titulo {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 20px;
    text-decoration: dotted underline;
    animation: inflar 4s linear infinite;
}

.instrucciones {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: var(--textcolor);
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 40px;
    width: 60%;
}

.instrucciones span {
    color: var(--sombra-primary);
    font-weight: bold;
}

.instrucciones strong {
    font-weight: bold;
    font-size: 0.9rem;
    color: #aaa;
}

.botoninicio {
    position: relative;
    top: 10%;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: var(--primary-dark);
    animation: inflar 3s linear infinite,
               cambiocolor 4s linear infinite;
}

.ocultarinicio{
    display: none;
    pointer-events: none;
}

.pantallajuego{
    z-index: 5;
}

.tiempo {
    position: relative;
    top: -100px;
    font-size: 2rem;
    color: var(--primary-dark);
    margin: 10px;
    font-family: 'allura', cursive;
}

.globo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    cursor: pointer;;
}

.cabezaglobo {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, var(--primary), var(--secondary));
    border-radius: 50% 50% 45% 45%; /* forma ovalada */ 
    position: relative; 
    box-shadow: inset -10px -20px 30px var(--sombra-primary), inset 5px 5px 15px var(--highlight), 0 10px 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    transition: all 0.2s ease;
}

.nudoglobo {
    width: 12px;
    height: 10px;
    background: radial-gradient(circle at 30% 30%, var(--primary), var(--secondary));
    box-shadow: inset -10px -20px 30px var(--sombra-primary), inset 5px 5px 15px var(--highlight), 0 10px 15px rgba(0,0,0,0.4);
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

/* cuerda */ 
/* .globo::after { 
    content: ""; 
    position: absolute; 
    bottom: -40px; 
    left: 50%; 
    width: 2px; 
    height: 40px; 
    background: var(--textcolor);
    transform: translateX(50%); 
} */

.cintaglobo {
    width: 2px;
    height: 40px;
    background: var(--textcolor);
    margin: 0 auto;
}


#mensaje {
    font-size: 1.5em;
    color: var(--primary-dark);
    display: none;
}


/* Animaciones*/

/* Boton Inicio */
@keyframes inflar {
    from, to {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes cambiocolor {
    0% { color: var(--primary-dark); }
    50% { color: var(--sombra-primary); }
    100% { color: var(--primary-dark); }
}