@import url('../normalizacion.css');



.cabezaglobo {
    width: 100px;
    height: 100px;
    background: var(--primary);
    border: 3px solid var(--primary-dark);
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.2s ease;
}

.nudoglobo {
    width: 20px;
    height: 30px;
    background: var(--primary);
    border: 3px solid var(--primary-dark);
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

.cintaglobo {
    width: 3px;
    height: 70px;
    background: #8b0000;
    margin: 0 auto;
}


#mensaje {
    font-size: 1.5em;
    color: var(--primary-dark);
    display: none;
}